body {
  font-family: Arial, sans-serif;
  background-color: #f0f8ff;
  text-align: center;
  padding: 20px;
}

input {
  padding: 10px;
  width: 300px;
  margin: 10px;
}

button {
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  background-color: #d768db;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #296bcf;
}

#pitchDisplay {
  margin-top: 30px;
  text-align: left;
  display: inline-block;
  background-color: #fffaf0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #aaa;
}
